/*.text_cell a.anchor-link:link{text-decoration:none;padding:0 20px;visibility:hidden}*/
a.anchor-link:link{text-decoration:none;padding:0 20px;visibility:hidden}
h1:hover .anchor-link,h2:hover .anchor-link,h3:hover .anchor-link,h4:hover .anchor-link,h5:hover .anchor-link,h6:hover .anchor-link{visibility:visible}
pre.ipynb {
    background-color:#f5f5f5;
    border: 1px solid #e3e3e3;
}
.output pre.ipynb {
    background-color:#ffffff;
    border: 1px solid #e3e3e3;
}
div.collapseheader {
    width:100%;
    background-color:#f5f5f5;
    border-radius: 3px;
    border: 1px solid #e3e3e3;
    padding: 4px;
    cursor: pointer;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
div.prompt{font-family:monospace}
div.output_prompt{color:#8b0000}
