  <hr/>
  <h2> Comments </h1>
  {% if article.comments %}
      {% for comment in article.comments recursive %}
          {% if loop.depth0 == 0 %}
              {% set marginLeft = 0 %}
          {% else %}
              {% set marginLeft = 50 %}
          {% endif %}
              <article id="comment-{{comment.id}}" style="border: 1px solid #DDDDDD; padding: 5px 0px 0px 5px; margin: 0px -1px 5px {{marginLeft}}px;">
                  <div class="pull-right">
                    <span class="published">
                    <i class="fa fa-calendar"></i><time datetime="{{ comment.date.isoformat() }}"> {{ article.locale_date }}</time>
                    </span>
                    &nbsp;
                    <a class="btn btn-default btn-xs"
                      href="{{ SITEURL }}/{{ article.url }}#comment-{{comment.id}}"
                      rel="bookmark" title="Permalink to this comment"><span class="fa fa-link"></span></a>
                      <button class="btn btn-default btn-xs" onclick="reply('{{comment.id | urlencode}}', '{{comment.author | urlencode}}');">
                        <span class="fa fa-reply"></span> Reply
                      </button>
                      &nbsp;
                  </div>
                  <h4>
                    <img src="{{ SITEURL }}/{{ comment.avatar }}"
                    alt="Avatar"
                    height="{{ PELICAN_COMMENT_SYSTEM_IDENTICON_SIZE }}"
                    width="{{ PELICAN_COMMENT_SYSTEM_IDENTICON_SIZE }}">
                    &nbsp;
                    {{ comment.author }}
                  </h4>
                  {{ comment.metadata['my_custom_metadata'] }}
                  {{ comment.content }}
                  {% if comment.replies %}
                      {{ loop(comment.replies) }}
                  {% endif %}
              </article>
      {% endfor %}
  {% else %}
      <p>No comments<p>
  {% endif %}
  <section id="addcomment" class="body">
      <header>
        <div class="page-header">
          <h4>Add a Comment</h4>
        </div>
      </header>
      <div class="entry-content">
        <form class="form-horizontal" role="form" id="commentForm" action="#">
          <div class="form-group" id="commentForm_groupName">
            <label for="commentForm_inputName" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
              <input name="Name" type="text" class="form-control" id="commentForm_inputName" placeholder="Your full name">
            </div>
          </div>
          <div class="form-group" id="commentForm_groupText">
            <label for="commentForm_inputText" class="col-sm-2 control-label">Comment</label>
            <div class="col-sm-10">
              <textarea class='form-control' name="Text" id="commentForm_inputText" rows="7" style="resize:vertical;" placeholder="Your comment"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" id="commentForm_button" class="btn btn-default">Post via email</button>
              <span class="help-block">You may format you comment with
                <a href="https://daringfireball.net/projects/markdown/dingus">Markdown</a>.
                If your comment is a valid contribution, it may be posted on this page.
                Your email address will not be made public.</span>
            </div>
          </div>
          <input name="replyto" type="hidden" id="commentForm_replyto">
        </form>
      </div>
  </section>
