{% extends "base.html" %}
{% block title %}Notes - {{ SITENAME }}{% endblock %}

{% block content %}
<h1>Notes</h1>

<div id=categories_tags_link>
  <a href="{{ SITEURL }}/{{ CATEGORIES_URL | default('categories.html') }}"><i class="fa fa-archive fa-lg"></i><span class="icon-label">Categories</span></a>
  &nbsp; &nbsp; &nbsp;
  <a href="{{ SITEURL }}/{{ TAGS_URL | default('tags.html') }}"><i class="fa fa-tags fa-lg"></i><span class="icon-label">Tags</span></a>
</div>

{% for article in articles|sort(attribute='date',reverse=True) %}
  <p><span class="categories-timestamp"><time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></span>
  &nbsp;
  {% if article.exturl %}
  <i class="fa fa-external-link"></i> <a href="{{ article.exturl }}">{{ article.title }}</a>
  {% else %}
  <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
  {% endif %}
  </p>
{% endfor %}
{% endblock %}
